/*Universal selector*/
*{
   background-color: rgb(255, 190, 111);
}
/*class selector*/
.external{
    background-color: bisque;

}
/*id selector*/
#idselector{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
}
/*element selector*/
h1{
    color: brown;
}