.box-model{
    background-color: aquamarine;
    padding: 10px;
    border:10px solid blue;
    margin: 25px;
}
.fixed-position{
    position: fixed;
    background-color: bisque;
    text-align: center;
    margin-top: -25px;
    margin-left: -20px;
    padding:10px;
    width: 1610px;
}
.relative-position{
    position: relative;
}