nav{
    display:flex;
    /*flex-direction:column;*/
    list-style: none;
    justify-content: space-evenly;
    padding:10px;
}
body{
    margin: 0;
}
.link{
    text-decoration: none;
    color:brown;
    padding: 3px;
}
.link:hover{
    color: bisque;
    background-color: brown;
    border-radius: 5px;
}
header{
    background-color: bisque;
}
.dropdown{
    position:absolute;
    top: -0.5px;
    display: none;
    list-style: none;
    padding: 10px;
    width:100px;
    background-color: brown;
    color: bisque;
    border-radius: 3px;
}
.dropdown li{
    padding: 10px;;
}
#skill{
    position: relative;
}
#skill:hover .dropdown{
    display:block;
}
.dropdown li:hover{
    background-color: tomato;
}