nav{
    display:flex;
    /*flex-direction:column;*/
    list-style: none;
    justify-content: space-evenly;
    padding:10px;
}
body{
    margin: 0;
}
.link{
    text-decoration: none;
    color:brown;
    padding: 3px;
}
.link:hover{
    color: bisque;
    background-color: brown;
    border-radius: 5px;
}
header{
    background-color: bisque;
}
.dropdown{
    display:none;
}